/HLSTestPlayer/bin-debug
bin-debug
/buildtools/sdks/4.6.0/release
/release
/buildtools/sdks

HLSPlugin/.actionScriptProperties

HLSPlugin/.actionScriptProperties

HLSPlugin/.flexLibProperties

HLSPlugin/.flexLibProperties

HLSPlugin/.project

HLSPlugin/.project

HLSPlugin/.settings/org.eclipse.core.resources.prefs

HLSPlugin/.settings/org.eclipse.core.resources.prefs
